<!--
  Generated template for the GraphMainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="primary">

  <ion-navbar color="primary">
    <ion-title>Graph AC</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      <!-- Power Chart -->
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvasPower></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
