
<chart [type]="typeChart" [data]="dataChart" [options]="optionsChart"></chart> <br>
<chart [type]="typeChartV" [data]="dataChartV" [options]="optionsChartV"></chart> <br>
<chart [type]="typeChartP" [data]="dataChartP" [options]="optionsChartP"></chart>
