<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  

  <form [formGroup]="addDevice" (ngSubmit)="onSubmit()">



    <ion-item no-lines style="margin-bottom: 10px;">
      <ion-label floating>ชื่อ</ion-label>
      <ion-input STYLE='color:#000000;' type="text" formControlName="nameDevice"></ion-input>
    </ion-item>
    <ion-item no-lines style="margin-bottom: 10px;">
      <ion-label floating>สถานที่</ion-label>
      <ion-input STYLE='color:#000000;' type="text" formControlName="placeDevice"></ion-input>
    </ion-item>

    <div #map id="map"></div>  
    
    <ion-item no-lines style="margin-bottom: 10px;">
      <ion-label floating>ละติจูด</ion-label>
      <ion-input STYLE='color:#000000;' type="number" formControlName="latDevice"></ion-input>
    </ion-item>
    <ion-item no-lines style="margin-bottom: 10px;">
      <ion-label floating>ลองจิจูด</ion-label>
      <ion-input STYLE='color:#000000;' type="number" formControlName="lngDevice"></ion-input>
    </ion-item>

      <button    color= "secondary" type="submit" [disabled]="!addDevice.valid" ion-button  full round>
        {{btnText}}

      </button>


  </form>


</ion-content>