<ion-header>
  <!-- <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar> -->
</ion-header>

<ion-content scroll="false" padding class="login-background">


  <ion-row class="row-margin">
    <ion-col col-3>
    </ion-col>
    <ion-col col-6>
      <img src="./assets/imgs/prick-s.png" class="logo-size">
    </ion-col>
    <ion-col col-3>
    </ion-col>
  </ion-row>

  <ion-row class="row-topic">
    <ion-col></ion-col>
    <ion-col col-12>
      <div>
        <p class="d-flex justify-content-center font-topic">ระบบติดตามการบริหารจัดการน้ำและพลังงาน</p>
        <p class="d-flex justify-content-center font-topic text-margin">ประปาชุมชนเทศบาลตำบลปริก</p>
      </div>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>


  <form [formGroup]="form" (submit)="loginForm()" >

    <ion-row class="row-from">
      <ion-col col-2>
        <img src="./assets/imgs/avatar.png" class="img-size">
      </ion-col>
      <ion-col>
        <ion-item class="input-text">
          <ion-input placeholder="Username" formControlName="username" class="custom-input"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2>
        <img src="./assets/imgs/padlock.png" class="img-size">
      </ion-col>
      <ion-col>
        <ion-item class="input-text">
          <ion-input type = "password" placeholder="Password" formControlName="password" class="custom-input"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>



    <div class="button-option">
      <button ion-button round full color="green-bootstrap">Login</button>
    </div>

  </form>

  <ion-row>
    <ion-col></ion-col>

    <ion-col>
      <a (click)="register()" class="a-option">Register</a>
    </ion-col>

    <ion-col></ion-col>
  </ion-row>






</ion-content>
