page-login {
    .login-background {
        background-image: url('../assets/imgs/splash.png');
        background-repeat: no-repeat;
        background-size: cover;
      }
    
      .logo-size {
        height: 20vh;
        width: auto;
        padding-left: 2vh;
      }
    
      .row-margin {
        margin-top: 5vh;
      }
    
    
      .input-text {
        background: transparent;
        color: #ebe8e8;
    
      }
    
      .color-label {
        color: #ebe8e8;
      }
    
      ion-input {
        &.custom-input {
          ::placeholder {
            font-size: 10pt;
            color: #ebe8e8;
          }
        }
      }
    
      .img-size {
        height: 3vh;
        width: auto;
        margin-top: 5vh;
      }
    
      .button-option {
        margin-top: 5vh;
    
      }
    
      .a-option {
        color: #ebe8e8;
        padding-left: 3vh;
      }
    
      .row-from {
        margin-top: 15vh;
      }
    
      .d-flex {
        display: flex !important;
      }
    
      .justify-content-center{
        justify-content: center !important;
      }
    
      .font-topic{
        font-size: 10pt;
        font-weight: bold;
        color: #ebe8e8;
      }
    
      .row-topic{
        margin-top: -5vh;
      }
    
      .text-margin{
        margin-top:-15px;
      }
}
