<!--
  Generated template for the SubDevicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Sub Device</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <form [formGroup]="addData" (ngSubmit)="onSubmit()">

      <ion-grid>
        <ion-row>
          <ion-col>
              <ion-item no-lines style="margin-bottom: 10px;">
                  <ion-label floating  >แรงดัน AC IN P1</ion-label>
                  <ion-input STYLE='color:#000000;' type="number" formControlName="acPhase1Vol"></ion-input>
                </ion-item>
          </ion-col>
          <ion-col>
              <ion-item no-lines style="margin-bottom: 10px;">
                  <ion-label floating>กระแส AC IN P1</ion-label>
                  <ion-input STYLE='color:#000000;' type="number" formControlName="acPhase1Amp"></ion-input>
                </ion-item>
            </ion-col>

        </ion-row>


          <ion-row>
            <ion-col>
                <ion-item no-lines style="margin-bottom: 10px;">
                    <ion-label floating  >แรงดัน AC IN P2</ion-label>
                    <ion-input STYLE='color:#000000;' type="number" formControlName="acPhase2Vol"></ion-input>
                  </ion-item>
            </ion-col>
            <ion-col>
                <ion-item no-lines style="margin-bottom: 10px;">
                    <ion-label floating>กระแส AC IN P2</ion-label>
                    <ion-input STYLE='color:#000000;' type="number" formControlName="acPhase2Amp"></ion-input>
                  </ion-item>
              </ion-col>

          </ion-row>



            <ion-row>
              <ion-col>
                  <ion-item no-lines style="margin-bottom: 10px;">
                      <ion-label floating  >แรงดัน AC IN P3</ion-label>
                      <ion-input STYLE='color:#000000;' type="number" formControlName="acPhase3Vol"></ion-input>
                    </ion-item>
              </ion-col>
              <ion-col>
                  <ion-item no-lines style="margin-bottom: 10px;">
                      <ion-label floating>กระแส AC IN P3</ion-label>
                      <ion-input STYLE='color:#000000;' type="number" formControlName="acPhase3Amp"></ion-input>
                    </ion-item>
                </ion-col>
  
            </ion-row>

              <ion-row>
                  <ion-col>
                      <ion-item no-lines style="margin-bottom: 10px;">
                          <ion-label floating  >แรงดัน DC IN</ion-label>
                          <ion-input STYLE='color:#000000;' type="number" formControlName="dcVol"></ion-input>
                        </ion-item>
                  </ion-col>
                  <ion-col>
                      <ion-item no-lines style="margin-bottom: 10px;">
                          <ion-label floating>กระแส DC IN</ion-label>
                          <ion-input STYLE='color:#000000;' type="number" formControlName="dcAmp"></ion-input>
                        </ion-item>
                    </ion-col>
      
                </ion-row>
              </ion-grid>

    
          <button    color= "secondary" type="submit" [disabled]="!addData.valid" ion-button  full round>
            ส่งข้อมูล
    
          </button>
    
    
      </form>

  <ion-card *ngFor="let device of item; let i = index" (click)="gotoGraph(device)">

    <ion-item>
      <!-- <ion-avatar item-start>
        <img src="img/marty-avatar.png">
      </ion-avatar> -->
      <h2>{{device.name}} {{device.nameType }} : {{device.namePhase}}</h2>
      <p>{{device.dt}}</p>
    </ion-item>
  
   
  
    <ion-card-content>
      <p>{{device.realV | number:'.2' }} V. {{device.realA | number:'.2' }} A. </p>
        <p>กำลังไฟฟ้า {{device.realV * device.realA | number:'.2' }} W</p>
      
    </ion-card-content>
  
    <!-- <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row> -->
  
  </ion-card>
</ion-content>
