<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card margin-box">

            <div class="card-header">
              <p class="d-flex justify-content-center" ><strong>Login</strong></p>
            </div>
            <div class="card-body">
                <form [formGroup]="formGroup">

                    <div class="form-group">
                      <label for="formGroupExampleInput">Username</label>
                      <input type="text" class="form-control" id="formGroupExampleInput" formControlName="username" required >
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput2">Password</label>
                      <input type="password" class="form-control" id="formGroupExampleInput2" formControlName="password" required >
                    </div>

                    <div class="form-group d-flex justify-content-center">
                          <button type="submit" class="btn btn-primary" (click)="logedIn()" >Login</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
  </div>
