.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .active {
    color: #000000;
  }
  
  mat-toolbar {
    height: 55px;
    position: relative;
    z-index: 100;
  }
  
  .grad {
    background-image: linear-gradient(to right, #041320 , #0a6483);
  }
  
  .all-menu {
    margin-top: 10px; 
    margin-left: 5px;
   
  }