<mat-toolbar class="grad text-dark mat-elevation-z3">
    <button
       type="button"
       aria-label="Toggle sidenav"
       mat-icon-button
       (click)="drawer.toggle()"
       *ngIf="isHandset$ | async">
           <mat-icon aria-label="Side nav toggle icon"><i class="fas fa-bars text-white"></i></mat-icon>
     </button>
     <span class="text-white">Sometime</span>
   </mat-toolbar>

   <mat-sidenav-container class="sidenav-container mat-elevation-z6">
     <mat-sidenav #drawer
                  fixedInViewport="true"
                  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                  [mode]="(isHandset$ | async) ? 'over' : 'side'"
                  [opened]="!(isHandset$ | async)"
                  [fixedTopGap]="55"
                  class="sidenav">
       <!-- Manage all Menu -->
       <div class="all-menu">
           <ul class="nav flex-column">
               <li class="nav-item active" >
                 <a class="nav-link" href="" routerLink="devices" ><i class="fas fa-th-large"></i>&nbsp;&nbsp;Devices</a>
               </li>
               <li class="nav-item " >
                   <a class="nav-link" href="#" ><i class="fas fa-cogs"></i>&nbsp;&nbsp;Setting</a>
               </li>
             </ul>
       </div>
     </mat-sidenav>
   </mat-sidenav-container>
