<div class="container">
  <div>
    <p class="font">{{txtName}}</p>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p> Status : </p>
    </div>
    <div class="col-md-2">
       <span class="dot bg-success"></span>
    </div>
  </div>
  <div class="row">
      <div class="col-md-4"> <p>Energy :</p> </div>
      <div class="col-md-8"><p>การไฟฟ้าส่วนภูมิภาค</p></div>
    </div>
  <div class="row">
    <div class="col-md-4"> <p>Place :</p> </div>
    <div class="col-md-8"><p>{{txtPlace}}</p></div>
  </div>

  <div class="d-flex justify-content-center">
      <button class="btn btn-info" (click)="viewData()">Data</button>
  </div>

</div>
