<!--
  Generated template for the LogDevicePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card   *ngFor="let log of item; let i = index"   >
    <ion-card-header>
      
      <ion-card-title>{{log.dt}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        <p>แรงดัน {{log.vol}} V</p>
        <p>กระแส {{log.amp}} A</p>
        <p>กำลังไฟฟ้า {{log.amp * log.vol}} Watt</p>
    </ion-card-content>
  </ion-card>
</ion-content>
