<!--
  Generated template for the SelectDataPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Select Date</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>



  <form [formGroup]="dateDatetime" (ngSubmit)="onSubmit()">

    <ion-item no-lines style="margin-bottom: 10px;">
    <ion-label style="color: black">Start time</ion-label>

    <ion-input disabled="false" type="text" ion-text style="color :black" 
      (click)="startTime()"  formControlName="startDate"></ion-input>
  </ion-item>

  <ion-item no-lines style="margin-bottom: 10px;">
    <ion-label style="color: black">End time</ion-label>

    <ion-input disabled="false" type="text" ion-text style="color :black" 
      (click)="endTime()"  formControlName="endDate"></ion-input>
  </ion-item>

  <button    color= "secondary" type="submit" [disabled]="!dateDatetime.valid" ion-button  full round>
    ตกลง

  </button>

  </form>

</ion-content>