
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Device</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addDevice()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

  
</ion-header>


<ion-content padding>

   

  <ion-card   *ngFor="let device of item; let i = index" >
    <ion-card-header>
      
      <ion-card-title>

        <h2>{{device.name}}</h2>
      </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        <p>{{device.place}}</p>
        <p>กำลังไฟฟ้าที่ผลิตได้ {{device.power}} W</p>
        <br>
        <button color="primary" ion-button outline (click)="gotoSub(device.idDevice)" >ข้อมูล</button>
        <button color="secondary" ion-button outline (click)="graph(device)" >กราฟ</button>
        <button color="danger" (click) =  "gotoMap(device)" ion-button outline  >นำทาง</button>

        <ion-item>
         
          <button (click) ="editDevice(device)" ion-button color ="alert" icon-start clear item-end>
            <ion-icon name="ios-create"></ion-icon>
            แก้ไข
          </button>

          <button  (click) = "deleteDevice(device)" ion-button color ="danger" icon-start clear item-end>
            <ion-icon name="ios-trash"></ion-icon>
            ลบ
          </button>

        </ion-item>

    </ion-card-content>
  </ion-card>
</ion-content>
