<ion-tabs color="primary">
  <ion-tab [root]="tab1Root" tabTitle="Map" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Device" tabIcon="information-circle"></ion-tab>
  <!-- <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab> -->
</ion-tabs>
