<div class="container">
  <p class="display-4 d-flex justify-content-center">Devices</p>


  <!-- <ul class="list-group list-group-flush" *ngFor="let item of objData ; let i = index" >
      <li class="list-group-item" (click)=getData(item.idDevice,item.idUser)><strong>{{i+1}}</strong> &nbsp;&nbsp;&nbsp; {{item.name}} &nbsp;&nbsp;&nbsp; <button class="btn btn-outline-info" (click)="editDevice(item.idDevice,item.idUser)" >Edit</button> </li>
  </ul> -->

  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">ID</th>
          <th scope="col">Name Device</th>
          <th scope="col">Place</th>
          <th scope="col"></th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of objData ; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>{{item.idDevice}}</td>
          <td>{{item.name}}</td>
          <td>{{item.place}}</td>
          <td>
            <button class="btn btn-outline-info"  (click)="getData(item.idDevice,item.idUser)" ><i class="fas fa-database"></i></button>&nbsp;
            <button class="btn btn-outline-warning"  (click)="editDevice(item.idDevice,item.idUser,item.lat,item.lng,item.name,item.place)" ><i class="fas fa-edit"></i></button>&nbsp;
            <button class="btn btn-outline-danger"  (click)="deleteDevice(item.idDevice,item.idUser)" ><i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>



</div>
