<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Power Solar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="viewmaps" routerLinkActive="active" >Pumps Position</a>
          </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="devices" routerLinkActive="active" >Devices</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="create" routerLinkActive="active" >Create Devices</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="register" routerLinkActive="active" >Register</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active" >Login</a>
      </li>
    </ul>

  </div>
</nav>

<router-outlet></router-outlet>

