<div class="container">

    <p class="display-4 d-flex justify-content-center">Data</p><hr>

    <div class=" d-flex justify-content-end">
        <button class="btn btn-info" (click)=goChart() >ViewChart</button>&nbsp;
        <button class="btn btn-success" (click)="exportAsXLSX()">Excel</button>
    </div> <br>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="idLog">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.idLog}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="vol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Volt </th>
          <td mat-cell *matCellDef="let element"> {{element.vol}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="amp">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Amp </th>
          <td mat-cell *matCellDef="let element"> {{element.amp}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="power">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Power </th>
          <td mat-cell *matCellDef="let element"> {{element.amp*element.vol}} </td>
        </ng-container>

         <!-- Symbol Column -->
         <ng-container matColumnDef="dt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date/Time </th>
            <td mat-cell *matCellDef="let element"> {{element.dt}} </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

</div>
