<div class="container">
  <div class="d-flex justify-content-center">
      <div class="card margin-box">

          <div class="card-header">
            <p class="d-flex justify-content-center" ><strong>Register</strong></p>
          </div>
          <div class="card-body">
              <form [formGroup]="formGroup">
                  <div class="form-group">
                      <label for="formGroupExampleInput">Fullname</label>
                      <input type="text" class="form-control" id="formGroupExampleInput" formControlName="fullName" >
                    </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput">Username</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" formControlName="username" >
                  </div>
                  <div class="form-group">
                    <label for="formGroupExampleInput2">Password</label>
                    <input type="password" class="form-control" id="formGroupExampleInput2" formControlName="password" >
                  </div>
                  <div class="form-group">
                      <label for="formGroupExampleInput2">Re-Password</label>
                      <input type="password" class="form-control" id="formGroupExampleInput2" formControlName="repassword" >
                    </div>
                  <div class="form-group d-flex justify-content-center">
                        <button class="btn btn-primary" (click)="createUser()">Register</button>
                  </div>
                </form>
          </div>
      </div>
  </div>
</div>
