<div class="container">
  <div class="d-flex justify-content-center">
    <p class="display-4 font"> Create Devices</p>
  </div><hr>
  <div class="card">
      <div class="crad-body form-margin">

        <form [formGroup]="formGroup" >
          <div class="form-group">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Name Devices</label>
                <input type="text" class="form-control" formControlName="name">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Place</label>
                <input type="text" class="form-control" formControlName="place">
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Latitude</label>
                  <input type="text" class="form-control" value="{{txtLat}}" formControlName="lat">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Longitude</label>
                  <input type="text" class="form-control" value="{{txtLng}}" formControlName="lng">
                </div>
              </div>
          </div>


              <agm-map (mapClick)="markMap($event)" [latitude]="lat" [longitude]="lng" [zoom]=zoom [mapTypeId]="'satellite'">
                  <agm-marker
                    *ngFor="let marker of markers"
                    [latitude]="marker.lat"
                    [longitude]="marker.lng"
                  ></agm-marker>
                </agm-map><br>

          <div class="d-flex justify-content-center">
              <button (click)="postData()" class="btn btn-info">Save</button>
          </div>
        </form>

      </div>
  </div>
</div>
